matplotlib
numpy
scipy
sympy
pint
Pmw
fluids

jupyter-book
jupyter-contrib-nbextensions
git+git://github.com/mkrphys/ipython-tikzmagic.git
fortran-magic

pytest
pytest-cov
coverage
flake8
nbmake
ipytest
